.link{
    font-weight: 700;
    font-size: 24px;
    color: black;
  }

li{
    list-style-type: none;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}
